

@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Archivo+Black&family=Belanosima:wght@400;600&family=Hind+Siliguri:wght@600&family=Mulish:wght@200&family=Poppins:wght@200;400;800;900&display=swap');

@page {
  size: A4;
}

.popup{
  display: block;
  position: fixed;
  top: 0;
  margin: 20px 20px 0px -30px;
  box-shadow: 1px 1px 5px #484848;
  padding: 5px;
  width: 95%;
  border-radius: 5px;
  background-color: #fff;
  transform: scale(0.95);
  transform: translatex(2000px);
  transition: 0.5s;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;

}
.popup .cross{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  border: none;
  margin-left: 15px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.content {
  width: 100%;
  max-width: 210mm; /* A4 width */
  margin: 0 0;
  background-color: #fff;
}

h1, p {
  margin: 0 0 1em;
}

@media print {
  /* Hide print button when printing */
  button {
      display: none;
  }
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 17px;
}
.deptm .h2{
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: rgb(13, 51, 140);
    margin-top: 10px;
    margin-bottom: 2px;
}
.container .logo{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container .logo img{
  width: 1.8in;
}
.dept{
  background: linear-gradient(90deg,rgb(67, 102, 215), rgb(13, 51, 140) );
  width: fit-content;
  padding: 0 20px;
  height: 40px;
  border-radius: 9px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
}
.courseinfo{
  text-align: center;
}
.courseinfo .crscode{
  margin-top: 30px;
  margin-bottom: 0;
}
.courseinfo .workno{
  margin-top: 50px;
}
.courseinfo table th{
  text-align: center;

}
.courseinfo table{
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  border: transparent;
  text-align: left;
  margin-top: 70px;
}
.courseinfo table td{
  width: 380px;
}
.courseinfo table td:nth-child(2){
  width: 250px;
  padding-left: 20px;
  border-left: 2.5px solid rgb(13, 51, 140);
  padding-right: 20px;
}

.topics{
  height: auto;
  width: fit-content;
  max-width: 600px;
  border: 2px solid rgb(39, 39, 181);
  margin: auto;
  border-radius: 7px;
}
.footer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.footer table{
  border-collapse: collapse;
  width: 680px;
  border: transparent;
}
.footer table td:nth-child(2){
  text-align: center;
  width: 140px;
  border-top: 1px solid rgb(39, 39, 181);
}
.footer span{
  color: rgb(51, 51, 177);
}

.print_btn{
  background-color: #45A049!important;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
.print_btn:focus{
  box-shadow: inset 3px 3px 5px #484848;
}